@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
main {
    display: flex; 
    flex-direction: column;
   }
h1 {
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 60px;
}
input {
    margin: 2px;
    border: none;
    border-radius: 3px;
}
input[type=text] {
    height: 40px;
    width: calc(100% - 4px);
}
input[type=button] {
    width: 100px;
    height: 50px;
    transition: ease 0.2s;
    cursor: pointer;
}
div#calculadora {
    box-shadow: 0 0 20px black;
}
div#calculadora div {
    display: flex;
}
div#calculadora div input:nth-child(4) {
    background-color: #FF7433;
    color: white;
}
div#quarta input:nth-child(1) {
    background-color: rgb(241, 51, 51);
    color: white;
}
div#quarta input:nth-child(1), div#calculadora {
    border-bottom-left-radius: 35px;
}
div#quarta input:nth-child(3) {
    background-color: rgb(74, 74, 247);
    color: white;
}
div#quarta input:nth-child(4), div#calculadora {
    border-bottom-right-radius: 35px;
}
input[type=button]:hover {
    filter: brightness(50%);
}
input[type=button]:active {
    transform: scale(0.9);
}
footer {
    color: white;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 100px;
}
a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}
a:hover {
    color: springgreen;
    text-decoration: underline;
}